@font-face {
  font-family: 'matrixinlineextraboldregular';
  src: url('../../fonts/matrixinlineextrabold-webfont.woff2') format('woff2'),
    url('../../fonts/matrixinlineextrabold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  color: #fff;
}

h1 {
  font-family: 'matrixinlineextraboldregular';
  font-size: 48px;
  letter-spacing: 3px;
  text-align: center;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 18px;
}
