.board {
  width: 100%;
  border-radius: 50px;
  text-align: center;
  /* background-color: rgb(170, 142, 108); */
  background: url('../../../images/board.jpg');
  color: black;
  font-size: 70px;
  letter-spacing: 40px;
  font-family: 'matrixinlineextraboldregular';
  padding: 18px;
}

.glow {
  text-align: center;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

.receivedLetters {
  font-size: 20px;
  margin-bottom: 20px;
  letter-spacing: 3px;
}

@media screen and (min-width: 768px) {
  .receivedLetters {
    font-size: 46px;
  }
}

path {
  fill: transparent;
}

text {
  fill: #000;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.7);
}

@keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #f49600,
      0 0 40px #f49600, 0 0 50px #f49600, 0 0 60px #f49600, 0 0 70px #f49600;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #f49600, 0 0 40px #f49600,
      0 0 50px #f49600, 0 0 60px #f49600, 0 0 70px #f49600, 0 0 80px #f49600;
  }
}
