.answer {
  display: flex;
  flex-direction: column;
  padding: 18px;
}

.row {
  display: flex;
  flex-direction: row;
}

.text {
  padding: 12px;
}

input[type='text'] {
  border: 5px solid white;
  background-color: white;
  color: white;
  padding: 6px 12px;
  color: black;
}

button {
  border: 5px solid white;
  background-color: white;
  color: white;
  padding: 6px 12px;
  color: black;
}
